/* стилизация главных классов */
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 26px;
    padding: 100px 0;
}
.wrapper {
    display: flex;
}

/* Стилизация основных внутренних классов */
.item {
    width: 50%;
    margin-bottom: 45px;
}
.block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.link {
    display: flex;
}

/* Стилизация дополнительных внутренних классов */
/* Текст <p> */
.item .item_text{
    margin: 0;
    font-size: 20px;
}
.block .block_text {
    margin-top: 60px;
    max-width: 90%;
    font-size: 24px;
}
/* Остальное */
.block h2 {
    max-width: 80%;
}
.link a{
    text-decoration: none;
    color: #a263f5;
    padding: 15px 60px;
    border: #a263f5 solid 3px;
    border-radius: 5px;
}
.item img{
    height: 64px;
}
.item h4{
    margin: 30px 0 15px 0;
}
